body{
    font-family:"Roboto","Raleway",sans-serif;
    color:var(--grey);
    font-size: 14px;
    letter-spacing: 0.03em;

}
:root{
    --grey: 
    #757575;
    --black:#212121;
    --background:#2F303A;
    --hover-focus:#2196F3;
    --white:#FFFFFF;
    --button:#F5F4FA;
}

.studio{
    color:var(--black)
}
.logo-type{
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--hover-focus);
    text-decoration: none;
}
   
.path{
    color: var(--black);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    }
.path-other{
        color:var(--hover-focus);
    }
.path-for-contacts{
    color:var(--grey)
    }
.path:hover
    {color:var(--hover-focus)
    }
.path-other:hover
    {color: var(--hover-focus);
    }
.path-for-contacts:hover
    {color: var(--hover-focus);
    }

.path:focus
    {color:var(--hover-focus)
    }
.path-other:focus
    {color: var(--hover-focus);
    }
.path-for-contacts:focus
    {color: var(--hover-focus);
    }
    .path:active{
        color: #2196F3;
    }
.main-header{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
   
}
.btn{
    font-weight: 700;
    font-size:16px ;
    line-height:1.88 ;
    letter-spacing: 0.03em;
    color:var(--black);
    background-color: var(--button);
    cursor: pointer;
}
.btn-inside{
    background-color: var(--hover-focus);
}
.btn-blue-background:hover{
    background-color: var(--hover-focus);
}
.btn-blue-background:focus{
    background-color: var(--hover-focus);
}
.list-header{
    font-weight: 700;
    font-size: 14px;
    line-height:1.72 ;
    color:var(--black);
    letter-spacing:0.03em;
}
.text-style{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
}
.second-header{
    font-weight: 700;
    font-size:36px;
    line-height: 1.72;
    letter-spacing: 0.03em;
    text-align: center;
    color:var(--black);
}
.third-header{
font-size: 36px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-align: center;
color:var(--black)

}
.name-person{
font-size: 16px;
font-weight: 500;
line-height: 1.19;
letter-spacing: 0.03em;
color:var(--black);

}
.profession{
font-size: 16px;
font-weight: 400;
line-height: 1.19px;
letter-spacing: 0.03em;

}

.filling{
    color: var(--white);
}
.background{
    background-color: var(--background);
}
.city{
font-size: 14px;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.03em;
text-align: left;
color: var(--white);

}
.contact-details{
font-size: 14px;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.03em;
text-align: left;
color:rgba(255, 255,255,0.6);
text-decoration: none;

}
.contact-details:hover{
color:var(--hover-focus)
}

.contact-details:focus{
    color: var(--hover-focus);
}
.description-image{
font-size: 18px;
font-weight: 700;
line-height: 2;
letter-spacing: 0.06em;
text-align: left;
color: var(--black);
    
}
.image-caption{
font-size: 16px;
font-weight: 400;
line-height: 1.88;
letter-spacing: 0.03em;
text-align: left;
color:var(--grey);

}
.active{
    color:var(--hover-focus)

}