body {
    font-family: "Roboto", "Raleway", sans-serif;
    color: var(--grey);
    background-color: var(--white);
    font-size: 14px;
    letter-spacing: 0.03em;
    margin: 0;
    padding: 0;
    width: 1600px;
    font-weight: 400;
}

:root {
    --grey: #757575;
    --black: #212121;
    --background: #2f303a;
    --hover-focus: #2196f3;
    --white: #ffffff;
    --button: #f5f4fa;
    --border-portfolio: #eeeeee;
    --social-links-icon: #afb1b8;
    --WhiteTransparent: #ffffff99;
    --BackgroundFootter: #ffffff1a;
    --BorderColor: #ECECEC;
    --BackgroundColorWhatWeDo: #2f303acc;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.section {
    padding: 94px 0;
}

/* -----------------------------------------Header------------------------------------------------------ */
.border-header {
    border-bottom: 1px solid #ececec;
}

.header {
    display: flex;
    align-items: center;
    border-bottom: solid 1px var(--BorderColor)
}

.studio {
    color: var(--black);
}

.logo-type {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--hover-focus);
    padding: 24px 0 24px;
    letter-spacing: 0.03em;
    text-decoration: none;
    margin: 0
}

.menu {
    display: flex;
    margin: 0;
    gap: 46px;
    list-style: none;
    padding: 32px 0 31px 93px;
}

a {
    text-decoration: none;
}

.path {
    position: relative;
    color: var(--black);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.path:focus,
.path:hover,
.path-for-contacts:hover,
.path-for-contacts:focus {
    color: var(--hover-focus);
}

.path .path-other {
    color: var(--hover-focus);
}

.list-item {
    position: relative;
}

.path-for-contacts {
    color: var(--grey);
}

.path-for-contacts:focus {
    color: var(--hover-focus);
}

.path-other::after {
    position: absolute;
    content: "";
    background: var(--hover-focus);
    border-radius: 2px;
    border: 1px solid;
    height: 4px;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateY(32px);
}

.path:hover,
.path:focus {
    fill: var(--hover-focus);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts {
    display: flex;
    gap: 30px;
    margin-left: 345px;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.envelope-icon,
.phone-icon {
    fill: var(--grey);
    transition: 0.2s;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.envelope-icon:hover,
.envelope-icon:focus,
.phone-icon:hover,
.phone-icon:focus {
    fill: var(--hover-focus);
    transition: 0.2s;
}



.icon-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-header-spacing {
    margin-right: 10px;
}

/* ----------------------------Main Section---------------------------------------- */
.background-color-header {
    color: var(--white);
}

.background-slider {
    background: rgba(47, 48, 58, 0.4) url(../images/img.bg.jpg);
    background-repeat: no-repeat;
    margin: 0 auto;
    max-width: 1600px;

}

.header-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 200px 0;
}

.main-header {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.btn-service {
    background: var(--hover-focus);
    color: var(--white);
    background: var(--hover-focus);
    border-radius: 4px;
    border-style: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    padding: 10px 41px 10px 42px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: 0.2s;
    cursor: pointer;
}

.description {
    display: flex;
    list-style: none;
    gap: 30px;
    justify-content: center;
    margin: 0;
}

.antenna,
.clock,
.diagram,
.astronaut {
    padding: 25px 102px;
}

.icon-background {
    background: var(--button);
}

.list-header {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.72;
    color: var(--black);
    letter-spacing: 0.03em;
}

.text-style {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* ------------------------------------------ WHAT WE DO---------------------------------------- */
.second-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.72;
    text-align: center;
    color: var(--black);
    margin: 0 auto;
    margin-bottom: 60px;
}

.specializations {
    display: flex;
    gap: 30px;
    list-style: none;
    justify-content: center;
    margin: 0;
}

.relative-img {
    position: relative;
}

.absolute-paragraph {
    position: absolute;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142857143;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 27px 0px;
    background: var(--BackgroundColorWhatWeDo);
    color: var(--white);
    bottom: -10px;
    width: 100%;

}

/* ----------------------------------------------OUR TEAM-------------------------------------------- */
.team-background {
    background-color: var(--button);
    box-shadow: #000000 20%;
}

.third-header {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    text-align: center;
    color: var(--black);
    margin: 0;
    margin-bottom: 50px;

}

.flex-images {
    display: flex;
    gap: 30px;
    list-style: none;
    justify-content: center;
    margin: 0;
    padding: 0 15px 102px;
}

.flex-images-item {
    background-color: var(--white);
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
        0px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 0px 0px 4px 4px;
}

.name-person {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.1875;
    letter-spacing: 0.03em;
    color: var(--black);
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    padding: 30px 99px 10px;
}

.profession {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.1875px;
    letter-spacing: 0.03em;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 30px;
}

.social-row {
    display: block;
    justify-content: center;
    padding-bottom: 30px;
}

.icon {
    cursor: pointer;
}

.icon-social {
    width: 44px;
    height: 44px;
    border: none;
    border-radius: 50%;
    fill: var(--grey);

}

.icon-social:hover {
    background-color: var(--hover-focus);
    fill: var(--white);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-social:focus {
    background-color: var(--hover-focus);
    fill: var(--white);
}

.icon-social:nth-child(1) {
    margin-left: 30px;
}

.icon-social:not(:last-child) {
    margin-right: 10px;
}

.icon-social-item {
    fill: var(--grey);
    background-color: var(--white);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ------------------------------------------------OUR CLIENTS--------------------------------- */

.our-clients {
    color: var(--black);
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
}

.list {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;
}

.our-clients-list {
    display: flex;
    gap: 30px;
    padding: 0;
    justify-content: space-between;
}

.block {
    display: block;
    margin: 0;
}

.client-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    background-color: var(--white);
    border: 1px solid var(--social-links-icon);
    border-radius: 4px;
    transition: 0.4s;
}

.icon-clients {
    width: 172px;
    height: 92px;
    fill: var(--social-links-icon);

}

.client-container:hover,
.client-container:focus {
    border-color: var(--hover-focus);
}

.icon-clients:hover,
.icon-clients:focus {
    fill: var(--hover-focus);
}

/* ----------------------------------------------MAIN FOOTER--------------------------   */

.background-color-footer {
    background: var(--background);
}

.case-footer {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 70px;
    padding: 55.5px 0;
}

.logo-recolor-bottom {
    color: var(--white);
    margin-right: 100px;
}

.adress-details {
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--white);
    padding-top: 20px;
}

.case-address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 9px;
}

.links-contact-bottom {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--WhiteTransparent);
}

.box-socials-footer {
    margin-top: 12px;
}

.social-heading-footer {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: start;
    color: var(--button);
    margin-bottom: 20px;
}

.socials-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.icon-social-footer {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--BackgroundFootter);
    fill: var(--white);
    transition: 0.2s;
}

.icon-social-footer:hover,
.icon-social-footer:focus {
    transition: 0.2s;
    background-color: var(--hover-focus);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* -----------------------------------------PORTFOLIO BUTTONS-------------------------------------- */

.btn {
    background-color: var(--button);
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    border-width: 0;
    height: 38px;
    line-height: 1.625;
    border-radius: 3px;
    padding: 6px 22px;
    font-family: "Roboto";
    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-style {
    display: flex;
    list-style: none;
    gap: 8px;
    margin: 0;
    padding: 0 310px;
}

.btn:hover,
.btn:focus {
    box-shadow: 0px 3px 1px rgb(0 0 0 / 10%), 0px 1px 2px rgb(0 0 0 / 8%),
        0px 2px 2px rgb(0 0 0 / 12%);
    background-color: var(--hover-focus);
    color: var(--white);
}

/* --------------------------------------------PORTFOLIO IMAGES------------------------------ */

.portfolio-flex-images {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin: 0px;
    list-style: none;
    padding: 94px 0;
}

.border-background {
    border-bottom: 1px solid var(--border-portfolio);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    margin: 0;
    margin-block: 0;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.border-background:hover {
    cursor: pointer;
    border: 1px solid var(--border-portfolio);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}


.overlay {
    position: absolute;
    width: 372px;
    height: 294px;
    overflow: hidden;
}

.overlay-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-text {
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--white);
    text-align: start;
    padding: 49px 45px 49px 24px;
    margin: 0;
}

.border-background:hover .overlay-layer {
    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.description-image {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: left;
    color: var(--black);
    margin: 0px;
    padding: 20px 20px 4px;
}

.image-caption {
    font-size: 16px;
    line-height: 1.875;
    color: var(--grey);
    margin: 0px;
    padding: 0 20px 20px;
}

/* -----------------------------------------PORTFOLIO FOOTER------------------------------- */

.contact-underline {
    text-decoration: underline;
}

/* ------------------------------------------MODAL.JS------------------------------ */
.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    transition: opacity 1500ms ease-in-out, visibility 1500ms ease-in-out;
    opacity: 1;
    visibility: visible;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    min-height: 581px;
    background-color: var(--white);
}

.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: var(--white);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}