.list__icon {
  display: flex;
  list-style: none;
  gap: 30px;
  justify-content: center;
  margin: 0;
}

.list__icon--background {
  background: var(--button);
  padding: 25px 102px;
}

.list__heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.72;
  color: var(--black);
  letter-spacing: 0.03em;
}

.list__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.list__specializations {
  display: flex;
  gap: 30px;
  list-style: none;
  justify-content: center;
  margin: 0;
}
.list {
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: 0;
}

.list__clients {
  display: flex;
  gap: 30px;
  padding: 0;
  justify-content: space-between;
}
