.form__header {
  font-weight: 700;
  font-size: 20px;
  line-height: 2.3px;
  color: var(--black);
}

.form__input {
  display: block;
  padding: 0 0 0 30px;
  margin: 3px 0 10px 0;
  height: 40px;
  width: 448px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__icon {
  position: absolute;
  height: 20px;
  width: 20px;
  &--position1 {
    top: 126px;
    left: 52px;
  }

  &--position2 {
    top: 192px;
    left: 52px;
  }

  &--position3 {
    top: 258px;
    left: 51px;
  }
}

.form__comment {
  height: 120px;
  width: 448px;
  padding: 12px 16px;
  border-radius: 4px;
  resize: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__checkmark-icon {
  position: absolute;
  width: 11px;
  height: 8px;
  left: 47px;
  top: 462px;
  z-index: 999;
  fill: var(--white);
  cursor: pointer;
}

.form__terms-and-conditions {
  font-size: 14px;
  padding: 15px 0 20px 0;
}

.form__terms-and-conditions input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.form__terms-and-conditions input:checked ~ .form__checkmark {
  background-color: var(--hover-focus);
  border: none;
}

.form__checkmark {
  position: absolute;
  cursor: pointer;
  height: 15px;
  width: 16px;
  top: 458px;
  left: 45px;
  border-radius: 2px;
  background-color: var(--white);
  border: var(--black) 2px solid;
}

.form__link {
  color: var(--hover-focus);
  text-decoration: underline;
  &:hover {
    color: var(--grey);
    text-decoration: none;
  }
}

.form__comment::placeholder {
  color: rgba(117, 117, 117, 0.658);
  &:hover,
  &:focus,
  &:active {
    border: var(--hover-focus) 1px solid;
    box-shadow: none;
    outline: none;
  }
}

.form__label:hover > .form__input,
.form__label:focus > .form__input {
  border: var(--hover-focus) 1px solid;
  box-shadow: none;
  outline: none;
}

.form__label:hover > .form__icon,
.form__label:focus > .form__icon {
  fill: var(--hover-focus);
}
