body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: var(--grey);
  background-color: var(--white);
  font-size: 14px;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
  width: 1600px;
  font-weight: 400;
}

a {
  text-decoration: none;
}
ul {
  padding: 0;
}
