:root {
  --grey: #757575;
  --black: #212121;
  --background: #2f303a;
  --hover-focus: #2196f3;
  --white: #ffffff;
  --button: #f5f4fa;
  --border-portfolio: #eeeeee;
  --social-links-icon: #afb1b8;
  --WhiteTransparent: #ffffff99;
  --BackgroundFootter: #ffffff1a;
  --BorderColor: #ececec;
  --BackgroundColorWhatWeDo: #2f303acc;
  --IconFotter: rgba(255, 255, 255, 0.1);
}
